@import 'variables';

header {
  width: 100%;
  float: left;
  text-align: center;
  img {
    .image-size();
    margin-top: -74px;
    border-radius: 50%;
  }
  hr {
    margin: 0 @base-margin*2;
  }
}
