@import 'variables';

main {
  clear: both;
  margin: 0 @base-margin*2;
  .education {
    display: flex;
    margin: @base-margin 0;
    .edu-year {
      margin-right: @base-margin*2;
      font-weight: bold;
    }
    .edu-intro {
      background-color: @gray;
      width: 100%;
      .edu-title {
        font-weight: bold;
      }
    }
  }
}
